@media screen and (max-width: 1440px) {

    .header,
    .upper-header,
    .footer {
        padding: 20px 50px;
    }

    .cards {
        padding: 52px 0 52px 50px;
    }

    .blocks-container {
        padding: 38px 50px;
    }

    .info {
        padding: 68px 68px 86px;
    }

    .sub-nav-item a {
        font-size: 0.6rem;
    }

    .main-nav {
        gap: 30px;
    }
}



@media screen and (max-width: 1140px) {
    .options {
        gap: 2rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .navigation {
        align-items: center;
    }

    .upper-header {
        padding: 8px 20px;
    }

    .header,
    .info {
        padding: 30px 20px;
    }

    .cards {
        padding: 60px 0 40px 20px;
    }

    .hero-swiper,
    .hero-swiper .swiper-slide {
        height: 400px;
    }

    .swiper-announcement {
        width: 100%;
    }

    .cards {
        gap: 10px;
    }

    .article-swiper .swiper-slide-active,
    .article-swiper .swiper-slide-next,
    .article-swiper .swiper-slide {
        width: calc(50% - 5px) !important;
    }

    .article-swiper .swiper-slide-next+.swiper-slide {
        opacity: 1 !important;
    }

    .article-swiper .swiper-slide-next {
        opacity: 0.4;
    }

    #swiper-graduates .swiper-slide-active,
    #swiper-graduates .swiper-slide-next,
    #swiper-graduates .swiper-slide {
        width: 24.2% !important;
    }

    #swiper-graduates .swiper-slide-next+.swiper-slide+.swiper-slide+.swiper-slide {
        opacity: 1;
    }


    #swiper-graduates .swiper-slide-next+.swiper-slide+.swiper-slide {
        opacity: 0.4;
    }


    #swiper-partners .swiper-slide-active,
    #swiper-partners .swiper-slide-next,
    #swiper-partners .swiper-slide {
        width: 12% !important;
    }

    .cards-header__text {
        font-size: 2.5rem;
    }

    .upper-header {
        padding: 8px 30px;
    }

    .upper-header-text {
        font-size: 0.588rem;
    }

    .card__text {
        font-size: 0.8rem;
    }

    .card__text-wrapper {
        padding: 13px 18px;
    }

    .info-text {
        font-size: 0.713rem;
    }

    #swiper-news .card__text-wrapper {
        padding: 15px 17px;
    }

    footer {
        padding-top: 30px;
    }

    .hidden {
        display: none;
    }

    #menu {
        display: flex;
    }

    .modal-btn-back {
        display: flex;
        color: #00d4a6;
        font-size: 3rem;
        justify-content: flex-end;
        align-items: center;
        line-height: 0.6;
        cursor: pointer;
    }

    .modal_menu-container {
        height: 100%;
        width: 100%;
        z-index: 20;
        background-color: rgbA(61, 59, 60, 0.8);
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .modal_menu {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        padding: 0;
    }

    .close-btn {
        padding: 1rem;
    }

    .modal-menu-nav {
        padding: 2.125rem 2rem 2.125rem 1.813rem;
        background-color: #ffffff;
    }

    .sub-nav,
    .main-nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    .blocks {
        flex-direction: column;
    }

    .footer-container__group {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .header-mob {
        flex-direction: row;
        justify-content: space-between;
    }

    .card__date {
        font-size: 2.438rem;
    }

    .info {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    img.logo-img__info {
        width: 69px;
    }

    .info-text-span {
        font-size: 3.375rem;
    }


    .footer {
        padding: 30px 20px 0;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .upper-header-wrapper-mob {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .hero-swiper,
    .hero-swiper .swiper-slide {
        height: 300px;
    }

    .upper-header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .options,
    .authorities {
        width: 100%;
        justify-content: space-between;
    }

    .main {
        flex-direction: column;
    }

    .nav-socials {
        width: 100%;
        height: unset;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        z-index: 3;
    }

    .nav-socials__group {
        flex-direction: row;
        position: static;
    }

    #swiper-partners .swiper-slide-active,
    #swiper-partners .swiper-slide-next,
    #swiper-partners .swiper-slide {
        width: 24% !important;
    }

    #swiper-partners .swiper-slide-next+.swiper-slide+.swiper-slide {
        opacity: 0.4;
    }

    .footer-padding {
        margin-bottom: 34px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer-container__group {
        gap: 14px;
        flex-direction: column;
        align-items: flex-end;
    }

    footer .sub-nav-item a {
        font-size: 0.5rem;
    }

    .main-content {
        width: 100%;
    }

    .content-wrapper-footer {
        align-items: flex-start;
    }

    .content-wrapper-footer {
        gap: 3rem;
    }
}

@media screen and (max-width: 570px) {

    .article-swiper .swiper-slide-active,
    .article-swiper .swiper-slide-next,
    .article-swiper .swiper-slide {
        width: 100% !important;
    }

    .cards-header__title {
        width: 30px;
    }

    .authorities {
        flex-wrap: wrap;
    }

    .authorities-img {
        width: 20px;
        height: 20px;
    }

    .upper-header-text {
        font-size: 0.488rem;
    }

    .info-text {
        font-size: 0.613rem;
    }

    #swiper-news .card__text-wrapper {
        padding: 10px 13px;
    }

    .text-16 {
        font-size: 0.5rem;
        text-align: right;
    }

    .text-24 {
        font-size: 0.9rem;
    }

    .text-24-center {
        text-align: center;
    }

    .cards {
        padding: 40px 0 20px 20px;
    }

    .cards-btn-prev,
    .cards-btn-next {
        width: 20px;
        height: 30px;
    }

    .cards-btn img {
        width: 5px;
    }

    .hero-swiper,
    .hero-swiper .swiper-slide {
        height: 400px;
    }

    .hero-swiper .swiper-pagination {
        bottom: 10px;
    }

    .hero-nav-btns img {
        width: 10px;
    }

    .hero-nav-btns {
        padding: 0 20px;
    }

    #swiper-graduates .swiper-slide-active,
    #swiper-graduates .swiper-slide-next,
    #swiper-graduates .swiper-slide {
        width: 60% !important;
    }


    #swiper-partners .swiper-slide-active,
    #swiper-partners .swiper-slide-next,
    #swiper-partners .swiper-slide {
        width: 32% !important;
    }

    #swiper-partners .swiper-slide-next+.swiper-slide {
        opacity: 0.4;
    }

    #swiper-graduates .swiper-slide-next {
        opacity: 0.4;
    }

    .swiper-pagination {
        display: none;
    }

    #grad-button-prev,
    #grad-button-next,
    #partners-button-prev,
    #partners-button-next {
        display: none;
    }
}